# target
CONFIG_TARGET_qualcommax=y
CONFIG_TARGET_qualcommax_ipq60xx=y
CONFIG_TARGET_qualcommax_ipq60xx_DEVICE_zn_m2=y

# 關閉 APK 支持
# CONFIG_USE_APK is not set
# 啟用 OPKG 工具
CONFIG_PACKAGE_opkg=y

CONFIG_DEVEL=y
CONFIG_CCACHE=y
CONFIG_PACKAGE_luci-app-firewall=y
CONFIG_PACKAGE_luci-app-ntpc=y
CONFIG_PACKAGE_kmod-macvlan=y
CONFIG_PACKAGE_luci-app-switch=y

# remove wifi module 
CONFIG_DEFAULT_ath11k-firmware-ipq6018=n
CONFIG_DEFAULT_kmod-ath=n
CONFIG_DEFAULT_kmod-ath11k=n
CONFIG_DEFAULT_kmod-ath11k-ahb=n

# qca
CONFIG_PACKAGE_kmod-qca-nss-crypto=y
CONFIG_PACKAGE_nss-eip-firmware=y
CONFIG_PACKAGE_qca-ssdk-shell=y

# dnsmasq
CONFIG_PACKAGE_dnsmasq_full=y
CONFIG_PACKAGE_dnsmasq_full_nftset=y

# dns
# CONFIG_PACKAGE_luci-app-smartdns=n
# CONFIG_PACKAGE_smartdns=n

## zerotier
CONFIG_PACKAGE_luci-app-zerotier=n
CONFIG_PACKAGE_zerotier=n
## passwall
# CONFIG_PACKAGE_luci-app-passwall=n
# CONFIG_PACKAGE_luci-app-passwall_INCLUDE_Xray=n

#内核调整
CONFIG_PACKAGE_kmod-bonding=y
CONFIG_PACKAGE_kmod-dsa=y
CONFIG_PACKAGE_kmod-dummy=y
CONFIG_PACKAGE_kmod-fs-btrfs=y
CONFIG_PACKAGE_kmod-fuse=y
CONFIG_PACKAGE_kmod-inet-diag=y
CONFIG_PACKAGE_kmod-inet-mptcp-diag=y
CONFIG_PACKAGE_kmod-mtd-rw=y
CONFIG_PACKAGE_kmod-netlink-diag=y

# firewall4
CONFIG_PACKAGE_firewall4=y
CONFIG_PACKAGE_kmod-nft-arp=y
CONFIG_PACKAGE_kmod-nft-bridge=y
CONFIG_PACKAGE_kmod-nft-connlimit=y
CONFIG_PACKAGE_kmod-nft-core=y
CONFIG_PACKAGE_kmod-nft-dup-inet=y
CONFIG_PACKAGE_kmod-nft-fib=y
CONFIG_PACKAGE_kmod-nft-fullcone=y
CONFIG_PACKAGE_kmod-nft-nat=y
CONFIG_PACKAGE_kmod-nft-netdev=y
CONFIG_PACKAGE_kmod-nft-offload=y
CONFIG_PACKAGE_kmod-nft-queue=y
CONFIG_PACKAGE_kmod-nft-socket=y
CONFIG_PACKAGE_kmod-nft-tproxy=y
CONFIG_PACKAGE_kmod-nft-xfrm=y
CONFIG_PACKAGE_iptables-nft=y
CONFIG_PACKAGE_kmod-tun=y
CONFIG_PACKAGE_firewall3=n # disable firewall3 manually

# Hardware Crypto Acceleration package
CONFIG_PACKAGE_kmod-cryptodev=n
CONFIG_PACKAGE_kmod-crypto-gcm=n
CONFIG_PACKAGE_kmod-crypto-sha256=n
CONFIG_PACKAGE_kmod-crypto-aes=n
CONFIG_PACKAGE_kmod-crypto-chacha20poly1305=n
CONFIG_PACKAGE_kmod-crypto-cbc=n

# upnpd
CONFIG_PACKAGE_luci-app-upnp=y
CONFIG_PACKAGE_miniupnpd-nftables=y
CONFIG_PACKAGE_rpcd-mod-ucode=y   # LuCI upnp 依赖的 rpcd 扩展

# others
CONFIG_PACKAGE_luci-app-switch=y
CONFIG_PACKAGE_kmod-switch-core=y
CONFIG_PACKAGE_kmod-switch-qca8k=y
CONFIG_PACKAGE_swconfig=y
CONFIG_PACKAGE_luci-mod-network=y

CONFIG_PACKAGE_openssl-util=n
CONFIG_PACKAGE_openssh-sftp-server=n
CONFIG_PACKAGE_luci-app-flowoffload=n
CONFIG_PACKAGE_luci-app-nft-qos=n
CONFIG_PACKAGE_luci-app-vlmcsd=n

CONFIG_PACKAGE_autocore=y
CONFIG_PACKAGE_automount=y
CONFIG_PACKAGE_blkid=y
CONFIG_PACKAGE_coremark=y
CONFIG_PACKAGE_dropbear=y
CONFIG_PACKAGE_curl=y
CONFIG_PACKAGE_wget-ssl=y
CONFIG_PACKAGE_ca-certificates=y
CONFIG_PACKAGE_luci-app-wolplus=y
CONFIG_PACKAGE_etherwake=y

CONFIG_PACKAGE_luci-app-autoreboot=y

CONFIG_PACKAGE_luci-app-filetransfer=y
CONFIG_PACKAGE_luci-lib-fs=y

CONFIG_PACKAGE_luci-app-ttyd=y

CONFIG_PACKAGE_luci-app-cifs-mount=y

# KSMBD (核心服務端與 LuCI 界面)
CONFIG_PACKAGE_luci-app-ksmbd=y
CONFIG_PACKAGE_ksmbd-server=y
CONFIG_PACKAGE_ksmbd-utils=y
CONFIG_PACKAGE_luci-i18n-ksmbd-zh-cn=y
# 核心依賴 (通常會被自動選中，手動添加更穩妥)
CONFIG_PACKAGE_kmod-fs-ksmbd=y

CONFIG_PACKAGE_zram-swap=y
CONFIG_PACKAGE_kmod-crypto-zstd=y
